* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	color: #F6CFFB;
    background-color: #150217;
    background-size: contain;
}
.content {
	height: 300px;
	position: relative;
	display: flex;
    flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.content__socials {
    width: 100%;
    padding: 16px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10000;
}

.socialMedia {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.4vh;
	text-transform: uppercase;
    text-decoration: none;
    color: #F6CFFB;
    transition: color 0.4s;
}

.socialMedia:hover {
    color: #B859F3;

}

.content__img {
	max-width: 300px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.content__text {
    width: 70%;
    display: flex;
    flex-direction: column;
    z-index: 10000;
}

.content__text__title {
    font-family: 'Press Start 2P', cursive;
	text-transform: uppercase;
    text-align: center;
	font-size: 12vh;
}

.content__text__presentation{
    font-family: ellograph-cf, monospace;
    font-weight: 300;
    font-style: normal;
    text-align: center;
	font-size: 2.8vh;
    letter-spacing: -2px;
}

.content__footer {
    width: 100%;
    padding: 16px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.content__footer__text {
    font-family: basic-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
	text-transform: uppercase;
    font-size: 1em;
    line-height: 1;
    color: #F6CFFB;
}

a.content__footer__mail {
    padding: 16px 16px;
    border-style: solid;
    border-width: 4px;
    border-color: #E361F1;

    background-color: #F6CFFB;
    color: #E361F1;

    font-family: 'Press Start 2P', cursive;
    font-size: 1.4vh;
	text-transform: uppercase;
    text-decoration: none;

    transition: 0.4s;
}

a.content__footer__mail:hover {
    background-color: #E361F1;
    color: #F6CFFB;
}

@media screen and (min-width: 50em) {
	body {
		overflow: hidden;
	}
	.content {
		height: 100vh;
        flex-direction: column;
        justify-content: space-between;
		overflow: hidden;
	}
}