@font-face {
    font-family: 'nohemiregular';
    src: url('font/nohemi-regular-webfont.woff2') format('woff2'),
         url('font/nohemi-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pp_pangealight';
    src: url('font/pppangea-light-webfont.woff2') format('woff2'),
         url('font/pppangea-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	box-sizing: border-box;
}

html, body {
	height: 100vh;
    padding: 0;
    margin: 0;
}

body {
	color: #2B4FCD;
    background-color: #FFFFFF;
}

h1 {
    font-family: 'pp_pangealight';
	text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    font-style: normal;
	font-size: 96px;
}

p {
    font-family: 'nohemiregular';
    font-size: 16px;
	text-transform: uppercase;
}

a {
    font-family: 'nohemiregular';
    font-size: 16px;
	text-transform: uppercase;
}

.content {
	height: 300px;
	position: relative;
	display: flex;
    flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.header {
    width: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10000;
}

.content__img {
	max-width: 128px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}


footer {
    width: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.footerText {
    font-size: 14px;
}

@media screen and (min-width: 50em) {
	body {
		overflow: hidden;
	}
	.content {
		height: 100vh;
        flex-direction: column;
        justify-content: space-between;
		overflow: hidden;
	}
}